{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/swallow">Back</a>

      <h1 class="heading-large">
        You are ineligible
      </h1>

      <p>Alas, your inibility to guess the airspeed velocity of an unladen swallow makes you ineligible for a juggling licence.</p>

      <p>Please go to <a href="/url/of/onward/page">HM Clown School</a> to learn the airspeed velocities of relevant birds.</p>

    </div>
  </div>
</main>

{% endblock %}
