{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/juggling-balls">Back</a>

      <h1 class="heading-large">
        You are ineligible
      </h1>

      <p>Alas, your inibility to juggle means that you are not elibile to apply for a juggling licence.</p>

      <p>Please go to <a href="/url/of/onward/page">HM Clown School</a> to learn how to juggle.</p>

    </div>
  </div>
</main>

{% endblock %}
